# Implementation of Pandas AI for integrating LLM with csv,xlxs and other table data forms

### Importing necessary modules

In [1]:
import pandas as pd
from pandasai import SmartDatalake
from datetime import datetime
from pandasai.llm import OpenAI

### Instantiating a LLM with OPEN AI API KEY Edit it with your api key

In [2]:
llm = OpenAI(api_token="your-api-key")

### Importing Necessary dataframes

In [3]:
sku_data = pd.read_csv("./sku_data.csv")
country_id_mapping = pd.read_csv("./country_id_mapping.csv")
session_clickstream_data = pd.read_csv("./session_clickstream_data.csv")
customer_data = pd.read_csv("./customer_data.csv")

### For multiple dataset using datalake

In [4]:
df = SmartDatalake([sku_data, country_id_mapping, session_clickstream_data, customer_data], config={"llm": llm})

### Examples of questions

In [5]:
df.chat("Which month was the most product sold?")

'The most sold month was 4.'

In [6]:
df.chat("What were the 5 most common product colors sold in Europe in May, June, and July")

    index  Available Colors
0  Orange             13558
1    Grey             13053
2  Purple             11672
3    Blue             11413
4     Red             10952

In [7]:
df.chat("Identify top customers with high purchases and determine what is their common frequency to buy?")

'The top customers with high purchases are: 22433, 13846, 22902. Their common frequency to buy is approximately 190.67 orders.'

In [8]:
df.chat("Explore the variation in products browsed by customers before making a purchase on weekends and weekdays.")

Page Location      1      2      3      4      5      6
Weekday
False           7463   7149   4720   5857   5924   4424
True           27069  26234  16936  21520  21859  16319

In [9]:
df.chat("What are the most common sizes available for the top-selling products?")

"Unfortunately, I was not able to answer your question, because of the following error:\n\nname 'eval' is not defined\n"

In [10]:
df.chat("Are there any trends in product features (texture, color, type) and the session activity (time spent, avg purchases, etc.)")

"Unfortunately, I was not able to answer your question, because of the following error:\n\n'dict' object has no attribute 'to_json'\n"

In [11]:
df.chat("What is the average spend in the summer vs spring?")

'The average spend in the summer is $43.92 and the average spend in the spring is $43.69.'

In [12]:
df.chat("what is number of sales in number in each month")

   Month  Number of Sales
0      4            48199
1      5            35654
2      6            32242
3      7            35231
4      8            14148